
.root{
    width: auto;
    height: 100rem;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 10% 1fr;
}

/* Estilo para el header */
.styleHeader {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

/* Estilo para el main */
.styleMain {
 
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);           
}

/* Estilo para el footer */
.styleFooter {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}
