.styleMain{
    display: flex;
    flex-direction: column;
    gap: 5rem;  
    background-color: #1e293b;
    border-radius: 1rem;


}

.proyectos  {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem; /* Ajusté el gap para no separar tanto los elementos */
    padding: 2rem; /* Espacio adicional alrededor */
}

.styleProyecto {
    width: 12rem; /* Un poco más ancho para mejorar el balance visual */
    height: 14rem; /* Más alto para un contenido más equilibrado */
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e8f0; /* Color más suave para el borde */
    border-radius: 0.75rem; /* Borde ligeramente más suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para mayor profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    overflow: hidden; /* Para asegurar que nada salga del contenedor */
    background-color: white;
    align-items: center;
}

.styleProyecto:hover {
    transform: translateY(-5px); /* Efecto hover que resalta el elemento */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
}

.styleProyecto img {
    object-fit: cover;
    width: 100%;
    height: 8rem; /* Más altura para la imagen */
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.styleProyecto .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.styleProyecto h3 {
    font-size: 1.25rem;
    color: #1e293b; /* Azul oscuro para el texto */
    margin-bottom: 0.5rem;
    font-weight: 900;
}

.styleProyecto p {
    font-size: 0.875rem;
    color: #64748b; /* Texto secundario en gris */
}

.btn{
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-color: black;
}

.logros{
    width: 40%;
    height: 20rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.styleTegnologias {
    width: 10rem; /* Un poco más ancho para mejorar el balance visual */
    height: 10rem; /* Más alto para un contenido más equilibrado */
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem; /* Borde ligeramente más suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para mayor profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    overflow: hidden; /* Para asegurar que nada salga del contenedor */
    background-color: white;
    align-items: center;
    font-size: 2rem;
}



.styleTegnologias img {

    width: 100%;
    height: 100%; /* Más altura para la imagen */
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}


.styleTegnologias:hover{
    width: 50rem; /* Un poco más ancho para mejorar el balance visual */
    height: 40rem;
}